<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
  <link rel="icon" type="image/png" href=icons/favicon.ico/>
  <title>climbr</title>
</head>

<body>

  <!--Header-->
  <header th:fragment="header(currentUser)">
    <a th:href="@{/home}"><div class="climbr">climbr</div></a>
    <div id="currentUser" th:if="${currentUser!=null}">
      <span th:text="${currentUser.userName}"></span>
      <span class="alias" th:text="${'@' + currentUser.profileString}"></span>
      <nav class="userNav">
        <a class="topMenu" href="/home"><img class="topMenuIcon" src="/icons/home.svg" alt="home"><span>Home</span></a>
        <a class="topMenu" href="/home"><img class="topMenuIcon" src="/icons/profile.svg"
                                             alt="profile"><span>Profile</span></a>
      </nav>
    </div>
  </header>

  <!--  Left column: user profile picture and options-->
  <aside class="mainColumn" id="asideLeft" th:fragment="asideLeft(account)">
    <img class="profilePicture" alt="profile picture" src="/img/defaultProfile.jpg"
         th:src="@{{url}(url=${account.profilePicture==null?'/img/defaultProfile.jpg':'/picture/' + account.profilePicture.id})}">
    <nav>
      <a class="sideMenuItem" href="/home"><img class="icon" src="/icons/picture.svg"
                                                alt="picture"><span>Pictures</span></a>
      <a class="sideMenuItem" href="/home"><img class="icon" src="/icons/likes.svg" alt="likes"><span>Likes</span></a>
    </nav>
  </aside>

  <!--Right column find account and list followers and following-->
  <aside class="mainColumn" id="asideRight" th:fragment="asideRight(followers, followed, users)">
    <form th:action="@{/user}" method="get">
      <input type="text" name="profileString" id="findUser" placeholder="Find User" list="users" autocomplete="off">
      <datalist id="users">
        <option th:each="user: ${users}" th:text="${user.userName} + '@' + ${user.profileString}" th:value="${user.userName}"></option>
      </datalist>
      <input type="submit" style="display: none">
    </form>
    <section>
      <h3>Followers:</h3>
      <ul>
        <li th:each="follower: ${followers}">
          <a th:href="@{/{alias}(alias=${follower.profileString})}">
            <span th:text="${follower.userName}"></span>
            <span class="alias" th:href="@{/{alias}(alias=${follower.profileString})}"
                  th:text="${'@' + follower.profileString}"></span>
          </a>
        </li>
      </ul>
    </section>
    <section>
      <h3>Following:</h3>
      <ul>
        <li th:each="following: ${followed}">
          <a th:href="@{/{alias}(alias=${following.profileString})}">
            <span th:text="${following.userName}"></span>
            <span class="alias" th:text="${'@' + following.profileString}"></span>
          </a>
        </li>
      </ul>
    </section>
  </aside>

</body>
</html>