<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

  <link rel="stylesheet" href="#" th:href="@{/css/style1.css}">
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href=icons/favicon.ico/>
  <title>climbr</title>
</head>

<body>

  <!--Header-->
  <header class="container border-bottom" th:fragment="header(currentUser)">
    <div class="row">
      <h1 class="col-8 d-flex display-4 m-0 climbr climbr-font">
        <a class="text-decoration-none text-secondary" th:href="@{/home}">
          climbr
        </a>
      </h1>
      <div class="col-4 d-flex align-items-end justify-content-end">
        <div class="mr-4" th:if="${currentUser!=null}">
          <span th:text="${currentUser.userName}"></span>
          <span class="text-secondary" th:text="${'@' + currentUser.profileString}"></span>
        </div>
        <nav class="small mb-1">
          <a th:if="${currentUser!=null}" href="/logout">logout</a>
          <a th:if="${currentUser==null}" href="/login">login</a>
        </nav>
      </div>
    </div>
  </header>

  <!--  Left column: user profile picture and options-->
  <aside class="col-md-2 m-1" th:fragment="asideLeft(currentUser, account)">
    <button class="p-0 border-0 mt-2" data-toggle="modal" data-target="#profilePicture">
      <img class="img-thumbnail w-100 rounded-lg" alt="profile picture" src="#"
           th:src="@{{url}(url=${account.profilePicture==null?'/img/defaultProfile.jpg':'/picture/' + account.profilePicture.id})}">
    </button>

    <!-- Select Profile picture modal popup  -->
    <div th:if="${currentUser==account}" class="modal fade" id="profilePicture" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="form">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Choose Profile Picture</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="updatePicture" action="/picture/update" method="post" enctype="multipart/form-data">
              <div class="custom-file">
                <input class="custom-file-input" accept="image/png, image/jpeg" id="profileImageUpload"
                       name="profilePicture" type="file">
                <label class="custom-file-label d-inline" for="profileImageUpload">Upload Image</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" form="updatePicture">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <nav>
      <a class="btn btn-outline-secondary w-100 text-left mt-2 climbr-font" href="/home"><i class="fas fa-home"></i>
        Home</a>
      <a class="btn btn-outline-secondary w-100 text-left mt-2 climbr-font"
         th:href="@{/{profileString}/pictures(profileString = ${account.profileString})}">
        <i class="fas fa-image"></i> Picture
      </a>
      <a class="btn btn-outline-secondary w-100 text-left mt-2 climbr-font"
         th:href="@{/{profileString}/likes(profileString = ${account.profileString})}">
        <i class="fas fa-thumbs-up"></i> Likes
      </a>
      <a th:if="${currentUser == account}" class="btn btn-outline-secondary w-100 text-left mt-2 climbr-font"
         th:href="@{/{currentUser}(currentUser = ${currentUser.profileString})}">
        <i class="fas fa-portrait"></i> Profile
      </a>
    </nav>
  </aside>

  <!--Right column find account and list followers and following-->
  <aside class="col-md m-1" th:fragment="asideRight(followers, followed, users)">
    <form th:action="@{/user}" method="get">
      <input class="form-control mt-2" type="text" name="profileString" id="findUser" placeholder="Find User"
             list="users" autocomplete="off">
      <datalist id="users">
        <option th:each="user: ${users}" th:text="${user.userName} + '@' + ${user.profileString}"
                th:value="${user.profileString}"></option>
      </datalist>
      <input type="submit" style="display: none">
    </form>
    <section class="card mt-5">
      <div class="card-header">
        <h5 class="text-muted mb-0 climbr-font">Followers</h5>
      </div>
      <div class="card-body p-0" style="height: 15rem; overflow: auto;">
        <div class="list-group">
          <a th:each="follower: ${followers}" th:href="@{/{alias}(alias=${follower.profileString})}"
             class="list-group-item list-group-item-action">
            <span th:text="${follower.userName}"></span>
            <span class="text-secondary small" th:href="@{/{alias}(alias=${follower.profileString})}"
                  th:text="${'@' + follower.profileString}"></span>
          </a>
        </div>
      </div>
    </section>
    <section class="card mt-5">
      <div class="card-header">
        <h5 class="text-muted mb-0 climbr-font">Following</h5>
      </div>
      <div class="card-body p-0" style="height: 15rem; overflow: auto;">
        <div class="list-group">
          <a th:each="following: ${followed}" th:href="@{/{alias}(alias=${following.profileString})}"
             class="list-group-item list-group-item-action">
            <span th:text="${following.userName}"></span>
            <span class="text-secondary small" th:href="@{/{alias}(alias=${following.profileString})}"
                  th:text="${'@' + following.profileString}"></span>
          </a>
        </div>
      </div>
    </section>
  </aside>
  <div th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
  </div>
</body>
</html>