*{
  box-sizing: border-box;
}

html, body{
  margin:0;
  padding:0;
  min-height: 98vh;
}

body > header{
  border-bottom: solid 1px  #dedede;
  max-width: 900px;
  margin: 0px auto;
}

main{
  display: grid;
  grid-template-columns: 150px auto 200px;
  gap: 5px 15px;
  max-width: 900px;
  margin: 0px auto;
}

.alias{
  color: #858585;
}

.mainColumn{
}

#asideLeft{
}

.sideMenuItem{
  width: 95%;
  margin: 10px 0;
  height: 30px;
  display: block;
  text-decoration: unset;
  color: black;
}

.sideMenuItem:hover{
  border: 1px dashed gray;
  border-radius: 10px;
}

.icon{
  height: 90%;
  margin-left: 5%;
}

.sideMenuItem > span {
  margin: auto 10px;
  vertical-align: super;
}

#profilePicture{
  border: 1px solid gray;
  width: 95%;
  height: auto;
  margin: 5px auto;
}

#buscarCuenta{
  border-radius: 10px;
  display: block;
  margin: 5px auto;
  padding-left: 5px;
}

#wall{
  max-width: 600px;
}

.post{
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px 10px 10px 20px;
  display: grid;
  grid-template-rows: 30px auto 30px;
  margin: 5px 0;
  width: 1fr;
  background-color: white;
}

textarea{
  width: 100%;
  border-style: none;
  resize: none;
}

.postMessage{
  padding: 5px 0;
}

time{
  float: right;
}

.post > footer{
  padding: 5px 0;
}

form.likeForm{
  height: 100%;
}

.inputLikeImage{
  height: 100%;
}

.numberOfLikes{
  margin-left: 5px;
  display: inline-block;
  vertical-align: text-bottom;
}

#asideRight{
  
}