*{
  box-sizing: border-box;
}

html, body{
  margin:0;
  padding:0;
  min-height: 90vh;
}

body > header{
  border-bottom: solid 1px  #dedede;
  max-width: 900px;
  margin: 0 auto;
  height: 3em;
}

a{
  text-decoration:unset;
  color:black;
}

.climbr{
  margin-bottom: 0;
  display: inline-block;
  font-size: 39px;
}

#currentUser{
  display: inline-flex;
  font-size: large;
  margin-right: 1em;
  float: right;
  height: 100%;
  align-items: flex-end;
}

#currentUser > .alias{
  margin-right: 2em;
}

.topMenuIcon{
  height: 1em;
  margin-right: 0.5em;
}

main{
  display: grid;
  grid-template-columns: 150px auto 200px;
  gap: 5px 15px;
  height: 90vh;
  max-width: 900px;
  margin: 0 auto;
}

.alias{
  color: #858585;
}

.mainColumn{
  overflow: auto;
}

.mainColumn::-webkit-scrollbar{
  display: none;
}

#asideLeft{
}

.sideMenuItem{
  width: 95%;
  margin: 10px 0;
  height: 30px;
  display: block;
}

.sideMenuItem:hover{
  border-radius: 10px;
  background-color: lightgrey;
}

.icon{
  height: 90%;
  margin-left: 5%;
}

.sideMenuItem > span {
  margin: auto 10px;
  vertical-align: super;
}

/*TODO make it of a fixed size and apply mask*/
.profilePicture{
  display: block;
  border: 1px solid gray;
  width: 95%;
  height: auto;
  margin: 5px auto;
}

#findUser{
  border-radius: 10px;
  display: block;
  margin: 5px auto;
  padding-left: 5px;
}

#wall{
  max-width: 600px;
}

.post{
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px 10px 10px 20px;
  display: grid;
  grid-template-rows: 30px auto 30px;
  margin: 5px 0;
  width: 1fr;
  background-color: white;
}

textarea{
  width: 100%;
  border-style: none;
  resize: none;
}

.postMessage{
  padding: 5px 0;
}

.postPicture{
  display: block;
  width: 90%;
  margin: 0 auto;
}

time{
  float: right;
}

.post > footer{
  padding: 5px 0;
}

form.likeForm{
  height: 100%;
  display: inline-block;
}

.smallIcon{
  height: 1.5em;
}

.commentCount{
  display: inline-block;
}

.counter{
  margin-left: 5px;
  display: inline-block;
  vertical-align: text-bottom;
}

#asideRight{
  
}