<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
  <title>Title</title>
</head>

<body>
  <header th:replace="fragments/template :: header(currentUser = ${currentUser})"></header>

  <div class="container">
    <div class="row" style="height: 90vh;">

      <aside th:replace="fragments/template :: asideLeft(currentUser = ${currentUser}, account = ${currentUser})"></aside>

      <div id="centerColumn" class="col-md-7 m-1 h-100" style="overflow: auto;">

        <article class="media border mt-2 mb-2 pt-3 pr-4 pb-2 pl-4 rounded-lg shadow-sm">
          <div class="media-body">

            <header class="mb-4">
              <h4>Edit Profile</h4>
            </header>

            <form id="profileForm" th:action="@{/{userProfile}/profile(userProfile = ${currentUser.profileString})}"
                  method="post" th:object="${editedProfile}">

              <div class="form-group">
                <label for="userName">New User Name:</label>
                <input class="form-control" id="userName" type="text" name="userName"
                       th:placeholder="${currentUser.userName}">
                <div class="alert-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
              </div>

              <div class="form-group">
                <label for="profileString">New Nickname:</label>
                <input class="form-control" id="profileString" type="text" name="profileString"
                       th:placeholder="${currentUser.profileString}">
                <div class="alert-danger" th:if="${#fields.hasErrors('profileString')}" th:errors="*{profileString}"></div>
              </div>

              <br/>
              <button class="btn btn-primary btn-sm" type="submit">Update</button>
            </form>

          </div>
        </article>
      </div>

    </div>
  </div>

  <footer></footer>
</body>

</html>