<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
  <title>Title</title>
</head>

<body>
  <header th:replace="fragments/template :: header(currentUser = ${currentUser})"></header>

  <main>
    <aside th:replace="fragments/template :: asideLeft(currentUser = ${currentUser}, account = ${currentUser})"></aside>

    <section class="mainColumn" id="wall">

      <article class="post">
        <header>
          <span th:text="${currentUser.userName}"></span>
          <span class="alias" th:text="${'@' + currentUser.profileString}"></span>
        </header>
        <form id="newPostForm" th:action="@{/wallpost/new}" method="post" enctype="multipart/form-data">
          <textarea name="message" id="newPostMessage" rows="5" placeholder="¿Qué te cuentas?"></textarea>
          <input type="hidden" name="parentPost" th:value="null">
        </form>
        <footer>
          <input type="submit" value="Post" form="newPostForm">
          <input accept="image/png, image/jpeg" form="newPostForm" id="postImageUpload" name="postImage" type="file">
        </footer>
      </article>

      <section th:replace="fragments/WallPostsFragment :: wallPosts(wallPosts = ${wallPosts}, account = ${currentUser}, currentUser = ${currentUser})">
      </section>

    </section>

    <aside th:replace="fragments/template :: asideRight(${followers}, ${followed}, ${users})">
    </aside>

  </main>
  <footer></footer>
</body>

</html>