<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css" th:href="@{css/style.css}">
  <link rel="icon" type="image/png" href=icons/favicon.ico/>
  <title>ClimbRat</title>
</head>

<body>
  <header>
    <h1 style="margin-bottom: 0;">ClimbRat</h1>
    <h3 style="margin-top: 0;"><span th:text="${currentUser.userName}"></span>
      <span class="alias" th:text="${'@' + currentUser.profileString}"></span></h3>
  </header>
   <main>
    <aside class="mainColumn" id="asideLeft">
      <img class="profilePicture" alt="profile picture" src="img/defaultProfile.jpg"
           th:src="@{{url}(url=${currentUser.profilePicture==null?'img/defaultProfile.jpg':'home/picture/' + currentUser.profilePicture.id})}">
      <nav>
        <a class="sideMenuItem" href="/home"><img class="icon" src="/icons/home.svg" alt="home"><span>Home</span></a>
        <a class="sideMenuItem" href="/home"><img class="icon" src="/icons/profile.svg" alt="profile"><span>Profile</span></a>
        <a class="sideMenuItem" href="/home"><img class="icon" src="/icons/picture.svg" alt="picture"><span>Picture</span></a>
        <a class="sideMenuItem" href="/home"><img class="icon" src="/icons/likes.svg" alt="likes"><span>Likes</span></a>
      </nav>
    </aside>

    <section class="mainColumn" id="wall">

      <article class="post">
        <header>
          <span th:text="${currentUser.userName}"></span><span class="alias" th:text="${'@' + currentUser.profileString}"></span>
        </header>
        <form id="newPostForm" th:action="@{/home}" method="post">
          <textarea name="message" id="newPostMessage" rows="5" placeholder="¿Qué te cuentas?"></textarea>
        </form>
        <footer>
          <input form="newPostForm" type="submit" value="Post">
        </footer>
      </article>

      <article class="post" th:each="wallPost: ${wallPosts}">
        <header>
          <span th:text="${wallPost.author.userName}">Name</span>
          <span class="alias" th:text="'@' + ${wallPost.author.profileString}">@alias</span>
          <time th:text="${#temporals.format(wallPost.postDateTime, 'dd/MM/yyyy HH:mm')}">11/12/2019</time>
        </header>
        <section th:text="${wallPost.message}" class="postMessage">
          Ayer fui a escalar a Atxarte!
        </section>
        <footer>
          <form class="likeForm" th:action="@{/home/like}" method="post">
          <input type="hidden" id="likeInput" name="likedWallPost" th:value="${wallPost.id}">
          <input class="inputLikeImage" type="image" src="icons/likes%20black.svg" alt="submit">
            <span class="numberOfLikes" th:text="${#lists.size(wallPost.likes)}"></span>
        </form>
        </footer>
      </article>

    </section>
    <aside class="mainColumn" id="asideRight">
      <input type="text" name="cuenta" id="buscarCuenta" placeholder="Buscar cuenta">
      <section>
        <ul>
          <li th:each="follower: ${followers}"><span th:text="${follower.follower.profileString}"></span></li>
        </ul>
      </section>
      <section>
        <ul>
          <li th:each="following: ${followed}"><span th:text="${following.following.profileString}"></span></li>
        </ul>
      </section>
    </aside>
  </main>
  <footer></footer>
</body>

</html>