<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head">
  <title>Title</title>
</head>

<body>

  <section class="main-title climbr climbr-font">
    <div class="content">
      <h1>
        climbr
      </h1>
      <nav class="border-top border-bottom">
        <a class="text-muted" href="/user/registration">join climbr</a>
        <a class="login text-muted" href="/home">login</a>
      </nav>
    </div>
  </section>

</body>

</html>