<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
  <title>Title</title>
</head>

<body>
  <header th:replace="fragments/template :: header(currentUser = ${currentUser})"></header>

  <main>
    <aside th:replace="fragments/template :: asideLeft(currentUser = ${currentUser}, account = ${account})"></aside>

    <section class="mainColumn" id="wall">
      <article class="post presentation">
        <header>
          <div class="userName">
            <span th:text="${account.userName}"></span>
            <span class="alias" th:text="${'@' + account.profileString}"></span>
          </div>
          <section class="buttonRight" th:if="${currentUser != null && currentUser != account}">
            <form class="followForm" th:if="${isCurrentUserFollowing}"
                  th:action="@{/{profileString}/unfollow (profileString = ${account.profileString})}" method="post">
              <input type="hidden" name="accountId" th:value="${account.id}"/>
              <button class="roundButton following" type="submit">Following</button>
            </form>
            <form class="followForm" th:if="${!isCurrentUserFollowing}"
                  th:action="@{/{profileString}/follow (profileString = ${account.profileString})}" method="post">
              <input type="hidden" name="accountId" th:value="${account.id}"/>
              <button class="roundButton follow" type="submit">Follow</button>
            </form>
          </section>
          <a th:if="${currentUser == account}"
             th:href="@{/{profileString}/profile (profileString = ${currentUser.profileString})}">
            <button class="roundButton editButton">Edit</button>
          </a>
          <div class="following_you" th:if="${isFollowerOfCurrentUser}">Following you</div>
        </header>
        <section class="userInfo">
          <div th:text="'Joined on ' + ${#temporals.monthName(account.joinDateTime) + ', '
          + #temporals.year(account.joinDateTime)}"></div>
        </section>
        <footer class="userInfo">
          <span>Followers: <strong style="color: black" th:text="${#lists.size(followers)}+'&ensp;'"></strong></span>
          <span>Following: <strong style="color: black" th:text="${#lists.size(followed)}"></strong></span>
        </footer>
      </article>
      <section th:replace="fragments/WallPostsFragment :: wallPosts(wallPosts = ${wallPosts}, account = ${account}, currentUser = ${currentUser})">
      </section>
    </section>

    <aside th:replace="fragments/template :: asideRight(${followers}, ${followed}, ${users})">
    </aside>
  </main>
  <footer></footer>
</body>

</html>