<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
  <title>Title</title>
</head>

<body>
  <header th:replace="fragments/template :: header(currentUser = ${currentUser})"></header>

  <main>
    <aside th:replace="fragments/template :: asideLeft(account = ${account})"></aside>

    <section class="mainColumn" id="wall">
      <section th:replace="fragments/WallPostsFragment :: wallPosts(wallPosts = ${wallPosts}, account = ${account})">
      </section>
    </section>

    <aside th:replace="fragments/template :: asideRight(${followers}, ${followed}, ${users})">
    </aside>
  </main>
  <footer></footer>
</body>

</html>