<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/template :: head">
  <title>Title</title>
</head>

<body>
  <header th:replace="/fragments/template :: header(currentUser = ${currentUser})"></header>

  <main>
    <aside th:replace="/fragments/template :: asideLeft(account = ${account})"></aside>

    <section class="mainColumn" id="wall">

      <article class="post">
        <header>
          <span th:text="${mainWallPost.author.userName}">Name</span>
          <a class="alias" th:href="@{/{profileString}(profileString = ${mainWallPost.author.profileString})}"
             th:text="'@' + ${mainWallPost.author.profileString}">@alias</a>
          <time th:text="${#temporals.format(mainWallPost.postDateTime, 'dd/MM/yyyy HH:mm')}">11/12/2019</time>
        </header>
        <div th:if="${mainWallPost.picture != null}">
          <img class="postPicture" alt="Post picture" src=""
               th:src="@{/picture/{id}(id=${mainWallPost.picture.id})}">
        </div>
        <section th:text="${mainWallPost.message}" class="postMessage"></section>
        <footer>
          <form class="likeForm" th:action="@{/wallpost/like}" method="post">
            <input type="hidden" class="likeInput" name="likedWallPost" th:value="${mainWallPost.id}">
            <input type="hidden" name="currentURL" th:value="${#httpServletRequest.requestURI}">
            <input class="smallIcon" type="image" src="/icons/likes.svg" alt="submit">
            <span class="counter" th:text="${#lists.size(mainWallPost.likes)}"></span>
          </form>
          <div class="commentCount">
            <img class="smallIcon" src="/icons/dialogue.svg" alt="comments">
            <span class="counter" th:text="${#lists.size(comments)}"></span>
          </div>
        </footer>
        <form id="newPostForm" th:action="@{/wallpost/new}" method="post" enctype="multipart/form-data">
          <textarea name="message" id="newPostMessage" rows="5" placeholder="Comentario"></textarea>
          <input type="hidden" name="parentPost" th:value="${mainWallPost.id}">
        </form>
        <footer>
          <input type="submit" value="Post" form="newPostForm">
          <input accept="image/png, image/jpeg" form="newPostForm" id="postImageUpload" name="postImage" type="file">
        </footer>
      </article>

      <section th:replace="fragments/WallPostsFragment :: wallPosts(wallPosts = ${comments}, account = ${account})">
      </section>

    </section>

    <aside th:replace="/fragments/template :: asideRight(${followers}, ${followed}, ${users})" >
    </aside>

  </main>
  <footer></footer>
</body>

</html>